*
!.gitignore
!README.md
!LICENSE
!template-2002.zip

!template
!template/Makefile
!template/*.bib
!template/*.tex
!template/*.sty
!template/figures
!template/figures/*.pdf

!.github
!.github/workflows
!.github/workflows/*.yml
